html, body { height: 100% }
body { margin: 0 }

.hide { display: none }
#debug {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font: bold 1.2rem sans;
  z-index: 1;
  color: red;
  background: white }

section {
  display: none;
  height: 100% }
section.active { display: block }

#map, #destMap { height: 100% }
svg {
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: 8vh;
  transform: translateX(-50%);
  fill: red }

.feedback { display: none }
.feedback.active { display: block }
video {
  width: 100%;
  height: 100% }

#displayToggle {
  font-size: 3vh;
  border: 0;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  background: white }
