<!doctype html>
<html>
<head>
  <title>Title</title>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='keywords' content='key, words'>
  <meta name='description' content='Description.'>
  <link rel='icon' type='image/x-icon' href='data:image/x-icon;base64,'>
  <link rel='stylesheet' href='/static/css/app.css'>
</head>
<body>
  <video></video>
  <button data-state='off'></button>
  <div class='debug'></div>
  <script src='/static/js/utils.js'></script>
  <script src='/static/js/app.js'> </script>
  <noscript><h6>Only viewable with JavaScript enabled.</h6></noscript>
</body>
</html>
